:root {
  --bg-color: #fff;
  --main-text-color: #2d2d2d;
  --icon-color: #757575;
  --search-bg-color: #f4f4f4;
  --accent: #a445ed;
  --heading-color: #757575;

  --fs-heading-l: 4rem;
  --fs-heading-m: 1.5rem;
  --fs-heading-s: 1.25rem;
  --fs-body-m: 1.125rem;
  --fs-body-s: 0.875rem;

  --lh-heading-l: 4.8125rem;
  --lh-heading-m: 1.8125rem;
  --lh-heading-s: 1.5rem;
  --lh-body-m: 1.5rem;
  --lh-body-s: 1.0625rem;
}

@media (max-width: 500px) {
  :root {
    --fs-heading-l: 2rem;
    --fs-heading-s: 1rem;
    --fs-body-m: 0.9375rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  body {
    padding-top: 2.5rem;
  }
}

.app {
  width: 46rem;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/* Top Bar */

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 1.75rem;
  position: relative;
  top: -1rem;
}

@media (min-width: 768px) {
  .logo {
    width: 2rem;
  }
}

.topBarRhs {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track,
.react-toggle--checked .react-toggle-track {
  background-color: var(--accent);
}

.topBarToggleDarkMode {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dropdownSelect {
  width: 11.5rem;
  padding: 1rem;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: #00000010 0 5px 30px 0;
  position: absolute;
  top: 3rem;
  right: 7.5rem;
  border-radius: 1rem;
  z-index: 99;
}

.dropdownSelect ul {
  list-style: none;
}

.chosenFont,
.dropdownSelect ul li {
  font-weight: bold;
  font-size: var(--fs-body-m);
  line-height: var(--lh-body-m);
  color: var(--main-text-color);
  cursor: pointer;
}

.chosenFont {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.dropdownSelect ul li:hover {
  color: var(--accent);
}

.dropdownSelect ul li:not(:last-child) {
  margin-bottom: 0.75rem;
}

/* Search Bar */

.searchBar {
  width: 100%;
  height: 4rem;
  background-color: var(--search-bg-color);
  border-radius: 1rem;
  border: none;
  outline: none;
  margin-top: 2.5rem;
  padding: 0 1.5rem;
  font-weight: bold;
  font-size: var(--fs-heading-s);
  line-height: var(--lh-heading-s);
  color: var(--main-text-color);
}

.searchIcon {
  position: relative;
  top: 1.25rem;
  left: -2rem;
}

/* Definition Section */

.definitionSection .topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.75rem;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 500px) {
  .columnContainer {
    gap: 0;
  }
}

.columnContainer h1 {
  font-weight: bold;
  font-size: var(--fs-heading-l);
  line-height: var(--lh-heading-l);
  color: var(--main-text-color);
}

.columnContainer p {
  font-size: var(--fs-heading-m);
  line-height: var(--lh-heading-m);
  color: var(--accent);
}

.partOfSpeech {
  font-weight: bold;
  font-style: italic;
  font-size: var(--fs-heading-m);
  line-height: var(--lh-heading-m);
  color: var(--main-text-color);
  margin-bottom: 1.75rem;
}

.heading {
  font-size: var(--fs-heading-s);
  line-height: var(--lh-heading-s);
  color: var(--heading-color);
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 2rem;
}

li {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  font-size: var(--fs-body-m);
  line-height: var(--lh-body-m);
  color: var(--main-text-color);
}

@media (max-width: 500px) {
  :li {
    margin-left: 0;
  }
}

.example {
  margin-left: 2rem;
  color: var(--heading-color);
}

.synonyms {
  font-weight: bold;
  color: var(--accent);
  margin-left: 1rem;
}

.headingSynonyms {
  margin-bottom: 2rem;
}

.source {
  display: flex;
  align-items: flex-start;
}

.sourceLink {
  color: var(--main-text-color);
  text-decoration: none;
  margin-left: 1rem;
  font-size: var(--fs-heading-s);
}

@media (max-width: 500px) {
  .source {
    display: flex;
    flex-direction: column;
  }
}
